Package: com.551.swipetoclear16
Name: SwipeToClear16
Version: 1.0.17
Architecture: iphoneos-arm64
Description: Clear all Lock Screen notifications with one short swipe anywhere. Also disables notification tucking and the Lock Screen Search UI.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
