Package: com.551.swipetoclear16
Name: SwipeToClear16
Version: 1.0.4
Architecture: iphoneos-arm64
Description: Swipe down on the Lock Screen to clear all notifications.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
